
<div class="row <%= controller_name %> <%= action_name %>" id="navBar">
   <div class="two columns" id="twoMinutes">
       <%= link_to "2 minutes", { :class=>"hrefLink", :remote => true} %>
   </div>
    <div class="two columns" id="fourMinutes">
        <%= link_to "4 minutes", { :class=>"hrefLink", :remote => true} %>
    </div>
    <div class="two columns" id="sixMinutes">
        <%= link_to "6 minutes", { :class=>"hrefLink", :remote => true} %>
    </div>
    <div class="two columns" id="tenMinutes">
        <%= link_to "10 minutes", { :class=>"hrefLink", :remote => true} %>
    </div>
<!-- </div> -->
