
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

<!-- navBar -->
<div class="row" id="navBar">
   <div class="two columns" id="twoMinutes">2 Minutes
       <%# link_to "2 minutes", { :class=>"hrefLink", :remote => true} %>
   </div>
    <div class="two columns" id="fourMinutes"> 4 minutes
        <!-- <a href="twoMinutes.html" class="hrefLink">4 Minutes</a> -->
    </div>
    <div class="two columns" id="sixMinutes"><a href="#" class="hrefLink">6 Minutes</a></div>
    <div class="two columns" id="tenMinutes"><a href="#" class="hrefLink">10 Minutes</a></div>
    <div class="two columns" id="mostRead"><a href="#" class="hrefLink">Most Read</a></div>
</div>


<div class="contentWrapper">
    <div class="row contentSection">
        <% @articles.each do |article| %>
            <div class="one-third column">
                <h1 class="storyHeadline <%= article.length_class %>" >
                    <%= link_to truncate(article.title, :length => 28), article_path(article), {:class => "hrefLink"}%>
                </h1>
                <p><%= article.author %>, <%= article.publication %></p>
                <p class="storyPreview"><%= truncate(article.fulltext, :length => 307 )%></p>
                <button class="readMore">Read More</button>
            </div>
        <% end %>
    </div> <!-- End contentSection -->
</div> <!-- End contentWrapper -->
<!-- </div>  -->
