<!-- navBar -->
<%= render "nav" %>
<div class="two columns hrefLink " id="mostRead">Most Read
</div>
</div>

<!-- search bar -->
<%= form_tag("/articles", method: "get") do %>
  <%= label_tag(:query, "Find a topic:") %>
  <%= text_field_tag(:query) %>
  <%= submit_tag("Search") %>
<% end %>

<!-- content below here -->
<div class="contentWrapper">
    <div class="row contentSection">
        <!-- external Guardian content below here -->
        <% if @guardian_article %>
            <% @guardian_article.results.each do |result| %>
                <div class="one-half column externalArticle">
                    <h1 class="storyHeadline externalArticle <%= ext_length_class(result) %>" >
                        <%= link_to result['fields']['headline'], "#{ result['webUrl']}", {:class => "hrefLink"}%>
                    </h1>
                    <p class="no-overflow"><%= result['fields']['byline']%>, The Guardian</p>
                    <div class="hello">
                        <p class="storyPreview externalArticle">
                            <%= sanitize(result['fields']['body'], :tags=>[])%>
                        </p>
                        <div class="readMore hrefLink guardianClick">Read More</div>
                    </div>
                </div>
            <% end %>
        <% end %>
        <!-- seed data below here -->
        <% @articles.each do |article| %>
            <div class="one-third column">
                <h1 class="storyHeadline <%= article.length_class %> <%= most_read?(article) %>" >
                    <%= link_to article.title, article_path(article), {:class => "hrefLink"}%>
                </h1>

                <p><%= article.author %>, <%= article.publication %></p>
                <p class="storyPreview"><%= truncate(article.fulltext, :length => 400 )%></p>

                <div class="readMore hrefLink">
                    <%= link_to "Read More", article_path(article), {:class => "hrefLink" }%>
                </div>
            </div>
        <% end %>
    </div> <!-- End contentSection -->
</div> <!-- End contentWrapper -->
<!-- </div>  -->
