<!-- navBar -->
<%= render "nav" %>
<div class="two columns" id="mostRead">
    <%= link_to "Most Read", { :class=>"hrefLink"} %>
</div>
</div>


<%= form_tag("/articles", method: "get") do %>
  <%= label_tag(:query, "Search for:") %>
  <%= text_field_tag(:query) %>
  <%= submit_tag("Search") %>
<% end %>

<!-- content below here -->
<div class="contentWrapper">
    <div class="row contentSection">
        <!-- playing with Guardian content below here -->
        <% if @guardian_article %>
            <div class="one-half column">
                <h1 class="storyHeadline <%= @guardian_article.length_class %>" >
                    <%= truncate(@guardian_article.headline, :length => 400 )%>
                </h1>
                <p><%= @guardian_article.byline%>, The Guardian</p>
                <p class="storyPreview">
                    <%= truncate(sanitize(@guardian_article.body, :tags=>[]), :length => 400 )%>
                </p>
                <%= sanitize(@guardian_article.body, :tags => []).length %>
                <button class="readMore"><%= link_to "Read More", "#{ @guardian_article.web_url}", {:class => "hrefLink"}%>
                </button>
            </div>
        <% end %>
        <!-- seed data below here -->
        <% @articles.each do |article| %>
            <div class="one-third column">
                <h1 class="storyHeadline <%= article.length_class %> <%= most_read?(article) %>" >
                    <%= link_to truncate(article.title, :length => 35), article_path(article), {:class => "hrefLink"}%>
                </h1>

                <p><%= article.author %>, <%= article.publication %></p>
                <p class="storyPreview"><%= truncate(article.fulltext, :length => 400 )%></p>
                <button class="readMore"><%= link_to "Read More", article_path(article), {:class => "hrefLink"}%>
                </button>
            </div>
        <% end %>
    </div> <!-- End contentSection -->
</div> <!-- End contentWrapper -->
<!-- </div>  -->
