<!-- Progress Bar -->
    <div class="progress">
      <div class="wrapper">
        <div class="bar">
          <a href="#articleView"></a>
          <i class="icon-ok"></i>
          <span></span>
        </div> <!-- End .bar -->
      </div> <!-- end .wrapper -->
    </div><!--  End .progress -->

<!-- Primary Page Layout -->

<!-- navBar -->
<div class="row" id="navBar">
   <div class="two columns" id="twoMinutes">
       <a href="oneMinute.html" class="hrefLink">2 Minutes</a>
   </div>
   <div class="two columns" id="fourMinutes"> 4 minutes
       <!-- <a href="twoMinutes.html" class="hrefLink">4 Minutes</a> -->
   </div>
    <div class="two columns" id="sixMinutes"><a href="tenMinutes.html" class="hrefLink">6 Minutes</a></div>
    <div class="two columns" id="tenMinutes"><a href="mostRead.html" class="hrefLink">10 Minutes</a></div>
    <div class="two columns" id="mostRead"><a href="leastRead.html" class="hrefLink">Most Read</a></div>
</div>


<!-- scroll-along tracker -->
<div class="tracker">
    <div class="row" id="articleView">
        <!-- article title -->
        <h1 class="<%= @article.length_class %>"><%= @article.title %></h1>
        <!-- displays either button to save or that it is saved -->
        <% if @user.likes_article?(@article) %>
                <button class="readMore belongsToUser">
                    <%= link_to "On your reading list", user_path(@user) %>
                </button>
        <% else %>
            <%= render "form"%>
        <% end %>

        <!-- article author & publication -->
        <p><%= @article.author %>, <%= @article.publication%></p>
        <!-- article text container -->
        <div class="articleContent">
            <div class="two-thirds column">
                <!-- article full text -->
                <p><%= @article.fulltext %></p>
            </div> <!-- End Two-Thirds Column -->
        </div> <!-- End Article Content -->
    </div><!--  End article view -->
</div> <!-- end tracker -->


<div class="footer">
<!-- FYI: A well informed electorate is a prerequisite for democracy. - Thomas Jefferson -->
</div>
