<!-- Progress Bar -->
    <div class="progress">
      <div class="wrapper">
        <div class="bar">
          <a href="#articleView"></a>
          <i class="icon-ok"></i>
          <span></span>
        </div> <!-- End .bar -->
      </div> <!-- end .wrapper -->
    </div><!--  End .progress -->

<!-- Primary Page Layout -->

<!-- navBar -->
<div class="row" id="navBar">
   <div class="two columns" id="twoMinutes">
       <a href="oneMinute.html" class="hrefLink">2 Minutes</a>
   </div>
    <div class="two columns" id="fourMinutes"><a href="twoMinutes.html" class="hrefLink">4 Minutes</a></div>
    <div class="two columns" id="sixMinutes"><a href="tenMinutes.html" class="hrefLink">6 Minutes</a></div>
    <div class="two columns" id="tenMinutes"><a href="mostRead.html" class="hrefLink">10 Minutes</a></div>
    <div class="two columns" id="mostRead"><a href="leastRead.html" class="hrefLink">Most Read</a></div>
</div>


<!-- scroll-along tracker -->
<div class="tracker">
    <div class="row" id="articleView">
        <% if @article.length <= 400 %>
            <% @class = "twoMinutes" %>
        <% end %>
        <% if @article.length > 400 && @article.length <= 800 %>
            <% @class = "fourMinutes" %>
        <% end %>
        <% if @article.length > 800 && @article.length <= 1200 %>
            <% @class = "sixMinutes" %>
        <% end %>
        <% if @article.length >= 1200 %>
            <% @class = "tenMinutes" %>
        <% end %>
        <h1 class="<%= @class %>"><%= @article.title %></h1>
        <!-- <button class="readMore"><%= link_to "Save for Later", likes_path%></button> -->
        <%= render "form" %>
        <p><%= @article.author %>, <%= @article.publication%></p>
        <!-- article container -->
        <div class="articleContent">
            <div class="two-thirds column">
                <p><%= @article.fulltext %></p>
            </div> <!-- End Two-Thirds Column -->
        </div> <!-- End Article Content -->
    </div><!--  End article view -->
</div> <!-- end tracker -->


<div class="footer">
<!-- FYI: A well informed electorate is a prerequisite for democracy. - Thomas Jefferson -->
</div>
