<h2><%= @user.username %>'s Reading List</h2>

<!-- navBar -->
<%= render "articles/nav" %>
    <div class="two columns" id="Settings">
        <%= link_to "Edit Profile", edit_user_path(@user) %>
    </div>
</div>

<!-- all saved stories -->
<div class="contentWrapper">
    <div class="row contentSection">
        <% @user.likes.each do |like| %>
            <div>
                <h1 class="storyHeadline <%= like.article.length_class %>"><%= link_to "#{like.article.title}", article_path(like.article), {:class => "hrefLink"} %></h1>
                <button class="readMore"><%= link_to "Read More", article_path(like.article_id) %></button>

                <button class="readMore"><%= link_to "Remove from Reading List", like_path(like.id), :method => "delete" %></button>

                <p><%= like.article.author %>, <%= like.article.publication %></p>

                <p class="storyPreview wide"><%= truncate(like.article.fulltext, :length => 500 )%></p>
            </div>    
        <% end %>
    </div> <!-- End contentSection -->
</div> <!-- End contentWrapper -->
<!-- </div>  -->
