<!DOCTYPE html>
<html>
<head>
  <title>timebox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
  <!-- FONT –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <!-- Mobile Specific Metas–––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav>
    <!-- loginRow -->
    <!-- if the user is logged in... -->
      <% if @user == nil %>
      <!-- if the user is logged in... -->
        <%= link_to (image_tag ("loginButton.svg"), {id: "loginButton", class: "accountButtons"}), sign_in_path %>
        <%= link_to "Sign up", sign_up_path, { :id=> "signUpButton", :class=>"accountButtons" }  %>
    <!-- if the user is NOT logged in... -->
      <% else %>
      <!-- link to index in header -->
          <%= link_to (image_tag ("profileButton.svg"), {id: "profileButton", class: "accountButtons"}), user_path(@user) %>
      <!-- link to sign out in header -->
          <%= link_to "Sign out", sign_out_path, {:id => "signOutButton", :class=>"accountButtons" }  %>
      <% end %>
    </nav>
    <div class="container">
        <div class="row " id="headlineLogo">
            <%= link_to (image_tag ("headlineLogo.svg")), articles_path %>
            <h2>All the news that fits your time.</h2>
        </div>  <!-- headlineLogo -->
        <h4><%= flash[:notice] %></h4>
        <%= yield %>
    </div>
</body>
</html>
